 <div growl></div>
 <div ng-if="windowLogin==true">
 <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Login Form</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              <label>Login</label>
              <input type="text" name="email" ng-model="datos.email" placeholder="login" required=""/>
              <div ng-messages="Form.email.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your email.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="datos.password" placeholder="password" required="" md-maxlength="16"/>
              <div ng-messages="Form.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password.</div>
                <div ng-message="md-maxlength" class="my-message">Too long.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" ng-click="ctrl.login()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
</div> 

<div ng-if="windowLogin==false">
<md-content class="page-container">
		      <md-card>
				  <!-- 	<md-card-header>
				    	<md-card-header-text>
					      <span class="md-title">UNIDAD DE TR&AacuteMITE DOCUMENTARIO</span>
					      <span class="md-subhead">Unidad encargada de recepcionar los tr&aacutemites documentados de la Facultad de Ingeniera de Sistema e Informatica. Los tr&aacutemites que se realizan en nuestra Facultad figuran en los siguientes listados:</span>
				   	 	</md-card-header-text>
				  </md-card-header> -->
				  <md-card-content layout="column" layout-align="start center">
				  			<img class="md-user-avatar" src="recursos/img/fisi.PNG">
							<div class="article-info muted clearfix"></div>
							<p>Unidad encargada de recepcionar los tr&aacutemites documentados de la Facultad</p>
							<ul>
								<li>Descarga del Formato Unico de Tramite <a href="recursos/img/FUT.pdf" target="_blank">(FUT)</a></li>
							</ul>
							<p><strong>Horario de Atenci&oacuten: </strong></p>
							<p>De Lunes a Viernes de 9:00 am. a 5:00 pm.</p>
							<p><strong>Informes: </strong></p>
							<p>Tel&eacutefonos: 619-7000 anexo 4615 y 4686</p>
							<p>Correo Electr&oacutenico: 
							 <script type="text/javascript">var prefix='&#109;a'+'i&#108;'+'&#116;o';var path='hr'+'ef'+'=';var addy95440='&#111;ftd&#111;cm&#101;d'+'&#64;';addy95440=addy95440+'&#117;nmsm'+'&#46;'+'&#101;d&#117;'+'&#46;'+'p&#101;';document.write('<a '+path+'\''+prefix+':'+addy95440+'\'>');document.write(addy95440);document.write('<\/a>');</script><a href="mailto:oftdocmed@unmsm.edu.pe">oftdocmed@unmsm.edu.pe</a><script type="text/javascript">document.write('<span style=\'display: none;\'>');</script><span style="display: none;">Esta dirección de correo electrónico está protegida contra spambots. Usted necesita tener Javascript activado para poder verla.
							 <script type="text/javascript">document.write('</');document.write('span>');</script></span></p>
							<p><strong>INFORMES UPG:</strong> 619-7000 anexo 4648</p>
				  	
				  </md-card-content>
			</md-card>
</md-content>
</div> 
 
 
